* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../icon/background.jpg);
    color: white;
    text-align: center;
    font-family: sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
    

}

#container {
    margin-top: 50px;
    width: 80%;
    max-width: 400px;
    margin-inline: auto;
    -webkit-box-shadow: 2px 6px 15px 5px rgba(0,0,0,0.78); 
    padding: 20px;
    border-radius: 9px;
}

h1 {
    margin-top: 40px;
    margin-bottom: 10px;
    opacity: 0.9;

}

p {
    margin-bottom: 40px;
    opacity: 0.7;
}

input, button {
    display: block;
    width: 100%;
    padding: 20px;
    font-size: 20px;
    border-radius: 9px;
}

input {
    margin-bottom: 20px;
}


button {
    border: none;
    background-color: blueviolet;
    color: white;
    transition: filter .3s;
}

button:hover {
    filter: brightness(1.2);
    cursor: pointer;
}

#resposta {
    margin-top: 30px;
}

#resposta div {
    font-size: 16px;
    font-weight: normal;
    opacity: 0.9;
    margin-bottom: 10px;
}
